@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

html {
	font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

body {
	color: white;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: greenyellow;
}

img {
	display: block;
}

header, footer {
	background: rgba(0,0,0,1);
	color: white;
}

header {
	height: 80px;
	h1 {
		position: absolute;
		width: 50%;
		> span {
			display: block;
		}
		.icon {
			@include replace-text-with-dimensions('pplogo.png');
			float: left;
			margin: 1em;
			border-radius: 3px;
			border: 2px solid white;
		}
		.text {
			padding-top: 1em;
			font-weight: bold;
		}
		.more {
			font-size: 80%;
		}
	}

	.twitter-follow-button {
		position: absolute;
		right: 1em;
		top: 1.5em;
	}

	ul {
		position: absolute;
		right: 1em;
		top: 0;
		> li {
			float: left;
		}
		a {
			display: block;
			height: 80px;
			line-height: 80px;
			padding: 0 1em;
			color: white;
			&:hover {
				background-color: rgba(255,255,255,.2);
			}
		}
	}
}

main {
	position: relative;
	.info {
		position: absolute;
		top: 3em;
		left: 3em;
		color: white;
		width: 33%;
		padding: 2em;
		text-shadow: 0 0 3px black;
		background: rgba(0,0,0,.8);
	}
	img {
		width: 100%;
	}
}

footer {
	font-size: 11px;
	height: 3em;
	line-height: 3em;
	text-align: center;
}